*{ 
    padding: 0;
    margin: 0;
    font-family: Didot, serif;
}

body {
    line-height: 1.4;
    color: rgba(23, 63, 82);

}

img {
    width:100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

/* header */
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/banner-bg.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction:column;
    justify-content: stretch;
}

.navbar{
    background: rgba(0,0,0, 0.4);
    padding: 1.2rem;
}

.navbar-title{
    color: #fff;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Didot, serif;
    letter-spacing: 1px;
}


.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner-title{
    font-size: 3rem;
    font-family: Didot, serif;
    line-height: 1.2;
}

.banner-title span{
    font-family: Didot, serif;
    color: rgba(23, 63, 82);
}

.banner p{
    padding: 1rem 0 2em 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: Didot, serif;
    font-weight: 300;
    word-spacing: 2px;

}

/* design */
.design{
    padding: 4.5rem 0;
}

.title{
    text-align: center;
    padding: 1rem 0;
}

.title h2{
    font-family: Didot, serif;
    font-size: 2.4rem;
}

.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}

.design-content{
    margin: 2rem 0;
}

.design-item{
    /*cursor: pointer;*/
    margin: 1.5rem 0;
}

.design-img{
    position:relative;
    overflow: hidden;
    margin: auto;
}

.design-img button{
    border: none;
    cursor: pointer;
}

.design img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

.design-img img{
    transition: all 0.5s ease;
}

.design-item:hover img{
    transform: scale(1.2);
}

.design-img span:first-of-type{
    position:absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: rgba(23, 63, 82);
    color: #fff;
    padding: 0.25rem 1rem;
}

.design-img span:last-of-type{
    position:absolute;
    z-index:1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}

.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto; 
}

.design-title h3{
    color:rgb(23, 63, 82);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 900;
    font-family:Didot, serif;
}



/*popup*/
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display:none;
}

.popup .content {
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    background: #fff;
    width: 65%;
    max-height: 90%;
    /*height: 50%;*/
    z-index: 2;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    overflow: scroll;
    
}

.popup h1{
    font-family: Didot, serif;
    font-size: 2rem;
    text-align: center;
    

}

.popup p{
    font-size: .9rem;
    font-family:Didot, serif;
    text-align: left;
    margin:1rem;
    
}

.popup .close-btn {
    cursor:pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: rgba(23, 63, 82);
    color:#fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform:translate(-50%, -50%) scale(1);
}

.popup img{
    width:15vw;
    margin: auto auto 1rem auto;

}

/* footer */
footer{
    background: rgb(160, 160, 160);
    color: white;
    text-align:center;
    padding: 2.5rem 0;

}

.footer span{
    margin-top: 1rem;
    display: block;
    font-family: Didot, serif;
    letter-spacing: 2px;  
}

/* Media Queries */
@media screen and (min-width: 540px){
    
    .banner-title{
        font-size:5rem;
    }
    
}

@media screen and (min-width:768px){
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin:0;
    }
    
}
    
@media screen and (min-width: 1200px) {
    .design-content {
        grid-template-columns: repeat(3, 1fr);
    }
}
    
