body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto) repeat(3, 20%) 10%;
    grid-template-areas::
    "header"
    "nav1"
    "nav2"
    "nav3"
    "nav4"
    "section1"
    "section2"
    "section3"
    "footer"
}

header {
    grid-area: header;
    background-color: orange;
}